<div class="suggestions-container">
  <h1>Suggestions List</h1>
 
  <!-- Barre de recherche avec two-way binding -->
  <div class="search-bar">
    <input
      type="text"
      placeholder="Search for a suggestion"
      class="search-input">
  </div>
 
  <!-- Liste des suggestions en cards horizontales -->
  <div class="suggestions-list">
  <div class="suggestion-card" *ngFor="let s of suggestions">
     
      <!-- Titre de la suggestion -->
      <h3 class="suggestion-title">{{s.title}}</h3>
     
      <!-- Catégorie et Date -->
      <div class="suggestion-meta">
        <span class="suggestion-category">{{s.category}}</span>
        <span class="suggestion-date">{{s.date}}</span>
      </div>
     
      <!-- Description -->
      <p class="suggestion-description">{{s.description}}</p>
     
      <!-- Statut -->
      <div class="suggestion-status">
        <span>
          {{s.status}}
        </span>
      </div>
     
      <!-- Boutons d'action -->
      <div class="action-buttons" *ngIf="s.status !== 'refusee'" >
        <button (click)="likeShow(s)">
      <span>👍{{s.like}}</span>
      </button>

        <button class="favorite-button" (click)="addFavoir(s)">
        <span>{{ s.favoir ? '⭐' : '☆' }}</span>
        </button>

      </div>
     
    </div>
  </div>
 
  <!-- Message si aucune suggestion trouvée -->
  <div class="no-results">
    <p>Aucune suggestion trouvée.</p>
  </div>
</div>